@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

.header {
    font-size: 19px;
    background-color: white;
    color: #014713;
    display: flex;  
    position: fixed;
    z-index: 1;  
    font-family: sans-serif;
}

ul {
    display: inline-flex;
    margin-top: 30px;
}

li {
    padding-right: 40px;
}

a {
    color: white;
}

.openmenu {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 34px;
    background-color: #014713;
    font-size: 18px;
    font-weight: 799;
    display: flex;
    color: white;
}

.menubutton {
    padding-left: 10px;
}
.logo {
    text-align: center;
    margin-left: 12%;
    margin-top: 5px;
    margin-right: 34%;
}

.logo img {
    max-width: 70%;
    max-height: 70%;
}

.search {
    padding-top: 25px;
    padding-right: 25px;
}

.bg1 {
    background-image: url(school\ 1.jpg);
    width: 100%;
    height: 82vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-left: 145px;
 }

 .content{
    padding: 120px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    color: white;
    border-radius: 150px;
    width: fit-content;
    height: fit-content;
 }

 .content h1{
    font: 100px "Jost", sans-serif;
    font-weight: 800;
    line-height: 1.1;
    color: #014713;
    margin-bottom: -30px;
 }

 .content p{
    font: 140px  "Vujahday Script", cursive;
    color: #DEB509;
    font-weight: 400;
 }

  .bg2 {
    display: flex;
    margin-top: 60px;
    margin-left: 410px;
    margin-right: 410px;
    margin-bottom: 85px;
    justify-content: space-between;
  }
  
  .button1:hover {
    background-color: #004712;
    color: white;
  }

  .button1 {
    color: #004712;
    padding: 13px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 16px sans-serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    border: 1.7px solid #004712; 
    font-weight: 700;
  }

  .text h1 {
    font-family: "Jost";
    font-size: 45px;
    margin: 0px 0px 16px;
    color: #004712;
  }

  .text h5 {
    font-family: sans-serif;
    font-size: 24px;
    margin: 0px 0px 24px;
    font-weight: 100;
    color: #434244;
  }

  .text p {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0px 0px 18px;
    color: #434244;
    line-height: 27px;
  }

  .bg3 {
    padding-left: 390px;
    padding-right: 410px;
    padding-top: 110px;
    background-color: #f4f5f4;
    justify-content: space-between;
  }
 
  .bg3 img {
    border: 7px solid #f4f5f4;
    max-width: 30%;
    max-height: 30%;
}

.image2-3 {
    display: flex;
}

.image4-5 {
    display: flex;
}

.image4-5 p{
    padding-top: 150px;
    padding-left: 100px;
    font: 79px  "Vujahday Script", cursive;
    color: #DEB509;
    font-weight: 400;
}

.button2:hover {
    background-color: #004712;
    color: #f4f5f4;
  }

  .button2 {
    color: #004712;
    padding: 13px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 16px sans-serif;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #f4f5f4;
    border: 1.7px solid #004712; 
    font-weight: 700;
  }

  .text2 {
    padding-top: 100px;
    padding-left: 100px;
  }

  .text2 h1 {
    font-family: "Jost";
    font-size: 35px;
    color: #004712;
  }

  .text2 p {
    font-family: sans-serif;
    font-size: 20px;
    color: #434244;
    line-height: 27px;
  }